@model OrderModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_HeadLayout")
<body>
    @await Component.InvokeAsync("_SvgLayout")
    <partial name="_navbar" />
    <div class="py-5">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1 style="color:#d9534f;">Checkout</h1>
                <div class="custom-mt"></div>
                <div class="row mt-10">
                    <div class="row">
                        <form action="/checkout" method="POST">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Order Details</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="@Model.UserName"></label>
                                            <input asp-for="@Model.UserName" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.FirstName"></label>
                                            <input asp-for="@Model.FirstName" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.LastName"></label>
                                            <input asp-for="@Model.LastName" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.Email"></label>
                                            <input asp-for="@Model.Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="@Model.Address"></label>
                                        <textarea asp-for="@Model.Address" class="form-control"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="@Model.OrderNote"></label>
                                        <textarea asp-for="@Model.OrderNote" class="form-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label asp-for="@Model.City"></label>
                                            <input asp-for="@Model.City" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.Phone"></label>
                                            <input asp-for="@Model.Phone" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 custom-mt">
                                        <h4 class="mb-4">Payment</h4>
                                        <hr />
                                    </div>
                                    <div id="payment-box">
                                        <div class="d-block my-3">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="credit" name="paymentMethod" onclick="PaymentMethodChangeEvent('credit')" value="credit" checked required />
                                                        <label for="credit" class="custom-control-label">Credit Card</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="eft" name="paymentMethod" onclick="PaymentMethodChangeEvent('eft')" value="eft" required />
                                                        <label for="eft" class="custom-control-label">Eft</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-10">
                                                <span>Başarılı bir ödemeyi simüle etmek için <strong>iyzico</strong> <a href="https://docs.iyzico.com/ek-bilgiler/test-kartlari" target="_blank">Test Kartları</a> kullanılabilir.</span><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="@Model.CardName"></label>
                                                <input asp-for="@Model.CardName" class="form-control" />
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="@Model.CardNumber"></label>
                                                <input asp-for="@Model.CardNumber" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="@Model.ExprationMonth"></label>
                                                <input asp-for="@Model.ExprationMonth" class="form-control" />
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="@Model.ExprationYear"></label>
                                                <input asp-for="@Model.ExprationYear" class="form-control" />
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label asp-for="@Model.CVV"></label>
                                                <input asp-for="@Model.CVV" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Your Cart</h4>
                                    <hr />
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Total Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.CartModel?.CartItems != null)
                                                {
                                                    @foreach (var item in Model.CartModel.CartItems)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>  @item.Price₺ x @item.Quantity</td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td>
                                                            <strong id="name">Total (TL)</strong>
                                                        </td>
                                                        <td>  <strong id="order-total">@Model.CartModel?.TotalPrice().ToString("c")</strong>   </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" style="width:495px;">Complete Order</button>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-mt2"></div>
    <footer class="py-5">
        <div class="container-fluid">
            <div class="row">
                @await Component.InvokeAsync("_FooterViewComponents")
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        function PaymentMethodChangeEvent(paymentType) {
            var paymentBox = document.getElementById("payment-box");
            if (paymentType == "credit") {
               paymentBox.style.display = "block"
            }
            else {
                paymentBox.style.display = "none"
            }
        }
    </script>
    <style>
        #order-total {
            font-size: 1.5rem;
            color: #d9534f;
            font-weight: bold;
            text-transform: uppercase;
        }
        #name {
            font-size: 1.5rem;
            color: #d9534f;
            font-weight: bold;
            text-transform: uppercase;
        }
        .custom-mt {
            margin-top: 50px;
        }
        .custom-mt2 {
            margin-top: 100px;
        }
    </style>
</body>
</html>


